In [49]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

### DAY 4: Pandas Tasks

In [51]:
df = pd.read_csv('data/value_energy_cost_savings_2020.csv')
df.head()

,Company Name,company contact,company email,company phone,Address,City,State,Postcode,Industry,Industry descr,...,Savings from beginning receiving benefits,Borough,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA
0,1 State Street,David Neiburg,eskoblo@energyspec.com,7186779077,1114 Avenue J,Brooklyn,NY,11230,Commercial,35 story building,...,349.78,Brooklyn,40.624784,-73.964920,314.0,44.0,534.0,3179818.0,3.067130e+09,Midwood
1,100 Church LLC,Edward A. Carroll,NaN,2125663000,100 Church Street,NY,NY,10007,Commercial,21 Floors,...,4423698.05,New York,40.712968,-74.009490,101.0,1.0,21.0,1001409.0,1.001250e+09,SoHo-TriBeCa-Civic Center-Little Italy
2,100 Wall Investments,Jerry Branam,NaN,2122487160,96 Wall Street,New York,NY,10005,Landlord,NaN,...,1814542.62,New York,40.705052,-74.007199,101.0,1.0,7.0,1000875.0,1.000380e+09,Battery Park City-Lower Manhattan
3,1-10 Bush Terminal Owner LP,Andrew Kimball,akimball@industrycity.com,3474178429,"220 36th St, Suite 2A",Brooklyn,NY,11232,Landlord,Special Eligible Premises for eligible businesses,...,6755.31,Brooklyn,40.656061,-74.007334,307.0,38.0,2.0,3398687.0,3.006950e+09,Sunset Park West
4,"120 Broadway Acquisitions JV, LLC (Ldmk)",Carl Letich,clettich@silvprop.com,2124064020,120 Broadway,New York,NY,10271,Commercial,NaN,...,3293055.08,New York,40.708546,-74.011041,101.0,1.0,7.0,1001026.0,1.000478e+09,Battery Park City-Lower Manhattan

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 450 entries, 0 to 449
Data columns (total 26 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Company Name                               450 non-null    object
 1   company contact                            450 non-null    object
 2   company email                              433 non-null    object
 3   company phone                              450 non-null    object
 4   Address                                    450 non-null    object
 5   City                                       450 non-null    object
 6   State                                      450 non-null    object
 7   Postcode                                   450 non-null    int64
 8   Industry                                   450 non-null    object
 9   Industry descr                             434 non-null    object
 10  Company Type                               450 non-null    object
 11  Current fulltime                           446 non-null    float64
 12  Job created                                11 non-null     float64
 13  Job retain                                 14 non-null     float64
 14  Effective Date                             450 non-null    object
 15  Total Savings                              450 non-null    float64
 16  Savings from beginning receiving benefits  450 non-null    float64
 17  Borough                                    450 non-null    object
 18  Latitude                                   409 non-null    float64
 19  Longitude                                  409 non-null    float64
 20  Community Board                            409 non-null    float64
 21  Council District                           409 non-null    float64
 22  Census Tract                               409 non-null    float64
 23  BIN                                        401 non-null    float64
 24  BBL                                        401 non-null    float64
 25  NTA                                        409 non-null    object
dtypes: float64(12), int64(1), object(13)
memory usage: 91.5+ KB

In [55]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Postcode,450.0,1.102412e+04,4.051267e+02,1.000100e+04,1.110100e+04,1.120500e+04,1.123200e+04,1.169300e+04
Current fulltime,446.0,1.241861e+02,3.927508e+02,0.000000e+00,1.100000e+01,2.800000e+01,7.600000e+01,3.878000e+03
Job created,11.0,1.354545e+01,1.640953e+01,2.000000e+00,4.000000e+00,1.000000e+01,1.350000e+01,6.000000e+01
Job retain,14.0,2.975000e+02,7.784047e+02,4.000000e+00,1.550000e+01,4.200000e+01,1.607500e+02,2.964000e+03
Total Savings,450.0,3.943778e+04,1.345949e+05,-1.099101e+05,1.770947e+03,6.101215e+03,2.025603e+04,1.568982e+06
Savings from beginning receiving benefits,450.0,4.234601e+05,1.936066e+06,0.000000e+00,1.498420e+04,5.431184e+04,2.003667e+05,3.351826e+07
Latitude,409.0,4.072229e+01,5.750312e-02,4.055508e+01,4.067635e+01,4.072114e+01,4.075210e+01,4.089084e+01
Longitude,409.0,-7.394238e+01,6.555326e-02,-7.421621e+01,-7.398484e+01,-7.394171e+01,-7.390935e+01,-7.374373e+01
Community Board,409.0,3.179829e+02,9.392575e+01,1.010000e+02,3.010000e+02,3.070000e+02,4.020000e+02,5.030000e+02
Council District,409.0,2.782396e+01,1.098432e+01,1.000000e+00,2.600000e+01,3.000000e+01,3.600000e+01,5.100000e+01
Census Tract,409.0,2.049081e+03,7.784675e+03,1.000000e+00,2.000000e+01,1.990000e+02,5.430000e+02,9.420100e+04
BIN,401.0,3.295894e+06,9.897776e+05,1.000811e+06,3.009889e+06,3.336903e+06,4.005076e+06,5.168823e+06
BBL,401.0,3.163398e+09,9.483943e+08,1.000220e+09,3.006320e+09,3.036760e+09,4.003930e+09,5.070670e+09

In [10]:
# Number of different companies
df['Company Name'].nunique()

439

In [16]:
df.columns

Index(['Company Name', 'company contact', 'company email', 'company phone',
       'Address', 'City', 'State', 'Postcode', 'Industry', 'Industry descr',
       'Company Type', 'Current fulltime', 'Job created', 'Job retain',
       'Effective Date', 'Total Savings',
       'Savings from beginning receiving benefits', 'Borough', 'Latitude',
       'Longitude', 'Community Board', 'Council District', 'Census Tract',
       'BIN', 'BBL', 'NTA'],
      dtype='object')

In [20]:
# Total number of jobs created in Queens
df.groupby(['Borough'])['Job created'].sum()['Queens']

102.0

In [32]:
# Total number of unique domain names
df['domain'] = df[~df['company email'].isna()]['company email'].str.split('@').str[1]
df['domain'].nunique()

356

In [39]:
#Average total savings and the total jobs created for each NTA with at least 5 listed businesses
df['NTA_split']=df['NTA'].str.split('-')
df2 = df.explode('NTA_split').reset_index(drop=True)

In [40]:
df2.shape[0]

838

In [41]:
df2_ge_5 = df2.groupby(['NTA_split']).filter(lambda x: len(x) >= 5)
df2_ge_5.shape[0]

629

In [44]:
df_nta_final = df2_ge_5.groupby('NTA_split').agg({ 
    'Total Savings': 'mean',
    'Job created': 'sum',
})

In [45]:
df_nta_final

                           Total Savings  Job created
NTA_split
Battery Park City          469890.796667          0.0
Boerum Hill                 59950.340000          0.0
Brooklyn                    14327.419333          0.0
Brookville                  17757.662000          0.0
Bushwick South              26140.455000         10.0
Carroll Gardens             24337.390000          0.0
Civic Center                37214.024000          0.0
College Point               17159.372857          2.0
Columbia Street             24337.390000          0.0
Crown Heights North          4036.298889          0.0
DUMBO                       59950.340000          0.0
Downtown Brooklyn           59950.340000          0.0
East New York               48433.093333         15.0
East Williamsburg           13990.626364          0.0
Greenpoint                   9753.649286          0.0
Hunters Point               23931.398933          0.0
Hunts Point                 39246.016154         12.0
Little Italy                37214.024000          0.0
Long Island City            61830.770625          0.0
Lower Manhattan            469890.796667          0.0
Manhattanville               2760.888889          0.0
Maspeth                      7828.552000         10.0
Mott Haven                  17843.937857         10.0
Port Morris                 17843.937857         10.0
Queensbridge                61830.770625          0.0
Ravenswood                  61830.770625          0.0
Red Hook                    24337.390000          0.0
SoHo                        37214.024000          0.0
Springfield Gardens South   17757.662000          0.0
Steinway                    11227.155714         20.0
Sunnyside                   23931.398933          0.0
Sunset Park West            14316.976875          0.0
TriBeCa                     37214.024000          0.0
Vinegar Hill                59950.340000          0.0
West Maspeth                23931.398933          0.0
cemetery                    14327.419333          0.0
etc                         14327.419333          0.0
park                        14327.419333          0.0

In [46]:
df_nta_final.to_csv('data/nta_savings_jobs.csv')

### DAY 5: Matplotlib Tasks

#### Nimai Mahajan

In [56]:
plt.scatter(df_nta_final['Job created'], df_nta_final['Total S'], alpha=0.5)

Signature:
plt.scatter(
    x,
    y,
    s=None,
    c=None,
    marker=None,
    cmap=None,
    norm=None,
    vmin=None,
    vmax=None,
    alpha=None,
    linewidths=None,
    *,
    edgecolors=None,
    plotnonfinite=False,
    data=None,
    **kwargs,
)
Docstring:
A scatter plot of *y* vs. *x* with varying marker size and/or color.

Parameters
----------
x, y : float or array-like, shape (n, )
    The data positions.

s : float or array-like, shape (n, ), optional
    The marker size in points**2.
    Default is ``rcParams['lines.markersize'] ** 2``.

c : array-like or list of colors or color, optional
    The marker colors. Possible values:

    - A scalar or sequence of n numbers to be mapped to colors using
      *cmap* and *norm*.
    - A 2D array in which the rows are RGB or RGBA.
    - A sequence of colors of length n.
    - A single color format string.

    Note that *c* should not be a single numeric RGB or RGBA sequence
    because that is indistinguishable from an array of values to be
    colormapped. If you want to specify the same RGB or RGBA value for
    all points, use a 2D array with a single row.  Otherwise, value-
    matching will have precedence in case of a size matching with *x*
    and *y*.

    If you wish to specify a single color for all points
    prefer the *color* keyword argument.

    Defaults to `None`. In that case the marker color is determined
    by the value of *color*, *facecolor* or *facecolors*. In case
    those are not specified or `None`, the marker color is determined
    by the next color of the ``Axes``' current "shape and fill" color
    cycle. This cycle defaults to :rc:`axes.prop_cycle`.

marker : `~.markers.MarkerStyle`, default: :rc:`scatter.marker`
    The marker style. *marker* can be either an instance of the class
    or the text shorthand for a particular marker.
    See :mod:`matplotlib.markers` for more information about marker
    styles.

cmap : str or `~matplotlib.colors.Colormap`, default: :rc:`image.cmap`
    A `.Colormap` instance or registered colormap name. *cmap* is only
    used if *c* is an array of floats.

norm : `~matplotlib.colors.Normalize`, default: None
    If *c* is an array of floats, *norm* is used to scale the color
    data, *c*, in the range 0 to 1, in order to map into the colormap
    *cmap*.
    If *None*, use the default `.colors.Normalize`.

vmin, vmax : float, default: None
    *vmin* and *vmax* are used in conjunction with the default norm to
    map the color array *c* to the colormap *cmap*. If None, the
    respective min and max of the color array is used.
    It is an error to use *vmin*/*vmax* when *norm* is given.

alpha : float, default: None
    The alpha blending value, between 0 (transparent) and 1 (opaque).

linewidths : float or array-like, default: :rc:`lines.linewidth`
    The linewidth of the marker edges. Note: The default *edgecolors*
    is 'face'. You may want to change this as well.

edgecolors : {'face', 'none', *None*} or color or sequence of color, default: :rc:`scatter.edgecolors`
    The edge color of the marker. Possible values:

    - 'face': The edge color will always be the same as the face color.
    - 'none': No patch boundary will be drawn.
    - A color or sequence of colors.

    For non-filled markers, *edgecolors* is ignored. Instead, the color
    is determined like with 'face', i.e. from *c*, *colors*, or
    *facecolors*.

plotnonfinite : bool, default: False
    Whether to plot points with nonfinite *c* (i.e. ``inf``, ``-inf``
    or ``nan``). If ``True`` the points are drawn with the *bad*
    colormap color (see `.Colormap.set_bad`).

Returns
-------
`~matplotlib.collections.PathCollection`

Other Parameters
----------------
data : indexable object, optional
    If given, the following parameters also accept a string ``s``, which is
    interpreted as ``data[s]`` (unless this raises an exception):

    *x*, *y*, *s*, *linewidths*, *edgecolors*, *c*, *facecolor*, *facecolors*, *color*
**kwargs : `~matplotlib.collections.Collection` properties

See Also
--------
plot : To plot scatter plots when markers are identical in size and
    color.

Notes
-----
* The `.plot` function will be faster for scatterplots where markers
  don't vary in size or color.

* Any or all of *x*, *y*, *s*, and *c* may be masked arrays, in which
  case all masks will be combined and only unmasked points will be
  plotted.

* Fundamentally, scatter works with 1D arrays; *x*, *y*, *s*, and *c*
  may be input as N-D arrays, but within scatter they will be
  flattened. The exception is *c*, which will be flattened only if its
  size matches the size of *x* and *y*.
File:      ~/.local/lib/python3.8/site-packages/matplotlib/pyplot.py
Type:      function